body{
    background-color: #282c34;
    color: white;
}
.userBar{
   display: flex;
    padding: 30px 0;
}
.userImg{
    width: 100px;
    padding: 0 50px;
    border-radius: 50%;
}
.userText{
}
.userName{
    font-size: 30px;
    padding: 0 25px 0 0;
}
.userName:after{
    content: url("https://img.icons8.com/flat_round/30/000000/checkmark.png");
    position: relative;
    top: 7px;
    left: 6px;
}
.date{
    font-size: 17px;
}
p{
    font-size: 20px;
}
.contentImg{
    border-radius: 5%;
}